<!DOCTYPE html>
<html lang="pt_br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/logo-icon.png" />
    <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/page-landing.css" />
            <link rel="stylesheet" href="/css/animation.css" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,800;1,600&display=swap" rel="stylesheet">
    <title>Happy</title>
  </head>
  <body>
    <div id="page-landing">
      <div id="container">
        <header>
          <img 
          class="animate-up"
          id="logo" src="/images/logo.svg" alt="logo marca Happpy" />

          <div class="location animate-up">
            <strong> Estelì </strong>
            <p>Nicaragua</p>
          </div>
        </header>

        <main>
          <h1 class="animate-up">Lleve felicidad al mundo</h1>
          <section class="visit">
            <p class="animate-up">Visite orfanatos y cambie el dia de un niño</p>
            <a href="/orphanages" class="animate-up">
              <img
                src="/images/arrow.svg"
                title="visite orfanatos "
                alt="ir para o mapa"
              />
            </a>
          </section>
        </main>
      </div>
    </div>
  </body>
</html>
